@import url("https://fonts.googleapis.com/css?family=Abel");

/* html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
} */

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.cardtt {
  width: 690px;
  height: 350px;

  background-color: rgba(204, 186, 186, 0.3);
  /* background: linear-gradient(#f8f8f8, #635c5c); */
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin: 1rem;
}

.cardtt h1 {
  text-align: center;
}

.cardtt .additional {
  position: absolute;
  width: 150px;
  height: 100%;

  background: linear-gradient(#271f9e, #5ba8d4);
  transition: width 0.4s;

  overflow: hidden;
  z-index: 2;
}

.cardtt.green .additional {
  background: linear-gradient(#92bca6, #a2ccb6);
}

.cardtt:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.cardtt .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.cardtt .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.cardtt .additional .user-card .level,
.cardtt .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.cardtt .additional .user-card .points {
  top: 85%;
}

.cardtt .additional .user-card svg {
  top: 50%;
}

.cardtt .additional .more-info {
  width: 500px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
  padding: 20px;
}

.cardtt .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.cardtt.green .additional .more-info h1 {
  color: #224c36;
}

.cardtt .additional .coords {
  margin: 10px 5px;
  color: #fff;
  font-size: 1rem;
}

.cardtt.green .additional .coords {
  color: #325c46;
}

.cardtt .additional .coords span + span {
  float: right;
}

.cardtt .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.cardtt.green .additional .stats {
  color: #325c46;
}

.cardtt .additional .stats > div {
  flex: 1;
  text-align: center;
}

.cardtt .additional .stats i {
  display: block;
}

.cardtt .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardtt .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.cardtt .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.cardtt .general {
  width: 520px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 2rem;
  padding-top: 10px;
}
.cardtt .general .more p {
  padding-top: 10px;
}
.cardtt .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding-top: 20px;
  font-size: 0.9em;
}
.skin {
  fill: #eab38f;
}
.eyes {
  fill: #1f1f1f;
}
.hair {
  fill: #2f1b0d;
}
.line {
  fill: none;
  stroke: #2f1b0d;
  stroke-width: 2px;
}
